/*-- HTML5 Boilerplate. -----------------------------------------------------*/

/*
@import "../../vendor/h5bp/css/normalize.css";
@import "../../vendor/h5bp/css/main.css";
*/

/*-- Application stylesheets. -----------------------------------------------*/




/* -------------   svg   --------------- */

.content {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

svg.projects {
	position: absolute;
	top:0;
	left:0;
	width: 100%;
	height: 100%;
}

g.node {
	position: absolute;
}

g.node:hover circle.orbcircle {
	fill: rgba(255,255,0,1);
}

/* links */

g.link {
	cursor: pointer;
}

ellipse.link {
	fill: rgba(255,255,255,0);
	transition: all .2s;
	-moz-transition: all .2s;
	-webkit-transition: all .2s;
	-o-transition: all .2s;
}

circle.orbcircle {
	fill: rgba(255,255,255,0.5);
	stroke: black;
	stroke-width: 2pt;
	transition: all .5s;
	-moz-transition: all .5s;
	-webkit-transition: all .5s;
	-o-transition: all .5s;
}
g.link:hover ellipse.link{
	fill: red;
}

text.link {
	font: 8pt "Menlo", "Consolas", "Lucida Console", "Courier", monospace;
	text-anchor: middle;
	baseline-shift: -30%;
}





/* ------------- controls -------------- */

.controls {
	position: absolute;
	right: 0;
	text-align: center;
	width: 200px;
	top: 0;
}

